<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
	<title>Event Log</title>
</head>
<body>
	<div class="container" style="padding:10px 10px;">
		<h1>Event Log</h1>
		<div class="well" id="treeview_json"></div>
	</div>
	<script type="text/javascript">
		var socket = io.connect('http://' + document.domain + ':' + location.port);

		function initializeTree(data) {
			$('#treeview_json').jstree(true).settings.core.data = JSON.parse(data);
			$('#treeview_json').jstree(true).refresh();
		}

		socket.on('initial_logs', function (data) {
			initializeTree(data);
		});

		socket.on('new_log', function (data) {
			initializeTree(data);
		});
		False = false;
		True = true;
		$(document).ready(function () {
			$('#treeview_json').jstree({
				'core': {
					'data': []
				}
			});
		});
	</script>
</body>
</html>
